<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyD543TE6_mZ1TcCfZGz2lpyCzsbWZ0WXDA</string>
	<key>GCM_SENDER_ID</key>
	<string>332667514675</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Zouti</string>
	<key>PROJECT_ID</key>
	<string>kdichon-healthapp</string>
	<key>STORAGE_BUCKET</key>
	<string>kdichon-healthapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:332667514675:ios:2eb283cb955accce4a5846</string>
	<key>DATABASE_URL</key>
	<string>https://kdichon-healthapp-default-rtdb.firebaseio.com</string>
</dict>
</plist>